@import "../../app.scss";

.aboutMeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .aboutMe {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 3rem 0.5rem;

    @include medium {
      padding: 3rem 3rem;
    }

    @include xlarge {
      flex-direction: row;
    }

    .aboutMeText {
      padding: 0 1rem;
      margin-top: 2rem;

      @include medium {
        margin-top: 20vh;
      }

      @include xlarge {
        width: 50%;
        padding: 3rem 1rem;
        margin-top: 5vh;
      }

      h1 {
        font-size: 36px;
        color: #ffa500;

        @include small {
          font-size: 64px;
        }
      }

      p {
        font-size: 22px;
        margin-top: 0.5rem;
        line-height: 1.4;

        @include medium {
          font-size: 32px;
          margin-top: 1rem;
        }
      }
    }

    .aboutMeImg {
      display: none;

      @include medium {
        display: block;
      }

      img {
        max-width: 380px;
        margin-top: -4rem;
        position: absolute;
        right: 0;

        @include xlarge {
          max-width: 468px;
          margin-top: -96px;
          position: unset;
        }

        @include xxlarge {
          max-width: 768px;
        }
      }
    }

    .aboutMeIconsContainer {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 2.5rem;
      margin-top: 1rem;
      flex-wrap: wrap;

      @include medium {
        margin-top: 4rem;
      }

      .abilityContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        font-weight: bold;
        width: calc(50% - 1.25rem);

        @include small {
          width: auto;
        }

        .itemContainer {
          padding: 1rem;
          border-radius: 16px;

          .aboutMeIcon {
            height: 32px;
            width: 32px;
          }
        }
        .itemContainer-green {
          background-color: #eefde6;
          color: #aaf683;
        }
        .itemContainer-yellow {
          background-color: #fffcec;
          color: #fee440;
        }
        .itemContainer-red {
          background-color: #ffeaed;
          color: #ee747e;
        }
        .itemContainer-blue {
          background-color: #e9fcfc;
          color: #90f1ef;
        }
        .abilityText-green {
          color: #aaf683;
        }
        .abilityText-yellow {
          color: #fee440;
        }
        .abilityText-red {
          color: #ee747e;
        }
        .abilityText-blue {
          color: #90f1ef;
        }
      }
    }
  }
}
